#!/bin/bash
# sudo, git, yadm should be installed manually first

is_osx() {
  [ "$(uname -s)" = 'Darwin' ]
}

if is_osx; then

  # brew
  [[ -f '/usr/local/bin/brew' ]] || ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)" </dev/null

  # Update source
  brew update
  brew upgrade

  # Install common packages
  yes | brew install curl wget vim zsh python3 exa fd
  # pip & Powerline
  BREW_PYTHON="/usr/local/bin/python3"
  BREW_PIP="/usr/local/bin/pip"
  [[ -f $BREW_PYTHON ]] || $pacman_install python
  which pip > /dev/null || curl https://bootstrap.pypa.io/get-pip.py | $BREW_PYTHON
  $BREW_PIP install powerline-status
  $BREW_PIP install powerline-gitstatus
  $BREW_PIP install powerline-pyenv

  # Brew cask
  brew tap homebrew/cask-fonts
  yes | brew cask install \
        font-fira-code \
        amethyst \
        google-chrome \
        visual-studio-code \
        iterm2 \
        telegram \
        keka

  code --install-extension dbaeumer.vscode-eslint 
  code --install-extension eamodio.gitlens 
  code --install-extension esbenp.prettier-vscode 
  code --install-extension James-Yu.latex-workshop 
  code --install-extension jonkwheeler.styled-components-snippets 
  code --install-extension jpoissonnier.vscode-styled-components 
  code --install-extension Lencerf.beancount
  code --install-extension ms-vscode-remote.remote-ssh 
  code --install-extension ms-vscode-remote.remote-ssh-edit 
  code --install-extension ms-vscode.azure-account 
  code --install-extension ms-vscode.azurecli 
  code --install-extension ms-vscode.cpptools 
  code --install-extension ms-vscode.vscode-node-azure-pack 
  code --install-extension msazurermtools.azurerm-vscode-tools 
  code --install-extension msjsdiag.debugger-for-chrome 
  code --install-extension RobbOwen.synthwave-vscode 
  code --install-extension yzhang.markdown-all-in-one
  code --install-extension alefragnani.bookmarks
fi
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf && ~/.fzf/install
git clone https://github.com/rupa/z.git ~/.z
git clone --recurse-submodules https://github.com/ohmyzsh/ohmyzsh.git ~/.oh-my-zsh
git clone https://github.com/mollifier/cd-gitroot ~/.oh-my-zsh/custom/plugins/cd-gitroot
git clone https://github.com/zsh-users/zsh-autosuggestions ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions
git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
wget -nc -P ~/.vim/colors https://raw.githubusercontent.com/altercation/vim-colors-solarized/master/colors/solarized.vim
wget -nc -P ~/.vim/colors https://github.com/chriskempson/tomorrow-theme/raw/master/vim/colors/Tomorrow-Night.vim

chsh -s "$(which zsh)"
